.chart {
    display: flex;
    padding: 0px; 
    align-items: center;
    justify-content: center;
    

  }
  
 
  .chart .apexcharts-canvas {
    
    background:linear-gradient() ;
    margin-top: 250px;
    margin-left: 0px;
  }
  .hisfull
  {
    position: absolute;
    background-color: #1d8e6caf; 
    height:740px;
    width: 1487px;
  }
  .hishead 
  {
    position: absolute;
    top:100px;
    left:500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }