

.icon{
    width: 10px;
    height: 10px;
    margin-left: -1440px;
    margin-top: -420px;

}
.dash
{
    position: absolute;
    top:121px;
    left:10px;
    
}
.sidebar
{
    position: absolute;
    margin-top: 0px;
    width: 250px;
    height: 93vh;
    top:80px;
    
    background-color: rgba(80, 80, 191, 0.807);
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
}
.sidebar ul li{
    margin-top: 0px;
    list-style-type: none;
    text-align:justify;
    padding: 20px 0px;
    border-bottom: 1px solid#000;

}
.sidebar ul li :hover
{
         background-color: rgba(212, 210, 210);
         color: #000;
}
.collapse
{
    transform: translateX(0%);
}