@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.pic2{
    position: absolute;
    top:50px;
    margin-left:-50px;
}

:root{
    --mainColor: rgb(18, 166, 189);
    --mainColorLight: rgb(143, 15, 15);
    --secondaryColor: #DB2B39;
    --textColor: black;
    
}

header{
    display: flex;
    align-items:center;
    justify-content:space-between;
    font-family:'Times New Roman', Times, serif;
    font-size: 20PX;
    height:50px;
    top:-10px;
    margin-left: 0px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color:var(--textColor);

}
.hh
{
    position: absolute;
    left:40px;
    top:-6px;
}
.user
{
    position: absolute;
    top:20px;
    left:900px;
}

.logos
{
    position: absolute;
    top:10px;
    left:200px;
}

.pic3
{
    position: absolute;
    top:400px;
    left:0px;
}
.too p
{
    position: absolute;
    top:450px;
    left:800px;
    font-size:50px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color: rgb(4, 102, 113);
}
.sports
{
    position: absolute;
    left: 10px;
    top:820px;
}
.para 
{
    position: absolute;
    top:550px;
    left:250px;
    font-size:larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
    color: rgb(18, 166, 189);
}

nav a{
     
    margin: 0 2rem;
    color:var(--textColor);
    text-decoration: none; 
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn
{
    padding: -0px;
    margin-top: 0px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity:0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top:0px;
        left:0;
        height:100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content:center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1%;
        transform: translateY(-100vh);
    }

    header .responsive_nav
    {
        transform: none;
    }

    nav .nav-close-btn
    {
       position: absolute;
       top: 2rem;
       right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }
}
    
    .content_2
    {
        position: absolute;
        top:1500px;
    }