.Footer
    {
        position: absolute;
         background: rgba(246, 173, 14, 0.277);
         padding: 2rem 0;
         margin-top: 1.5rem;
         top: 950px;
         height: 300px;
         width: 1500px;
        
    }
     .ft-1 h3{
        
        position: relative;
        font-weight: 700;
        font-family:cursive; 
        letter-spacing: 2px;
        right:500px;
        top:80px;
    
     }
     .ft-1 span{
        color: #0a969d;
        font-size: 33px;
        top:100px;
        
    
     }
     .ft-1 h3{
        color: #f6f0f0;
        font-size: 30px;
    
     }
     .ft-1 p{
        position: relative;
        padding: 0rem 5rem 0.8rem 0;
        font-weight: 500;
        right:300px;
        font-size: 28px;
        top:100px;
        color: white;
        
        

     }
     .footer-icons i
     {
      
         padding: 0.5rem 0.5rem;
         background: #e1e1e1;
         color: rgba(127, 170, 229, 0.825);
         margin: 0 0.5rem ;
         border-radius:50%;
         top:90px;
         right:0px;
         position: relative;

     }
     .footer-icons i:hover
     {
         background: #078a98 ;
         color: #fff;
         transition: 0.6s;
         cursor: pointer;
         
         
     }
     .Footer h5{
        color:   rgb(15, 22, 76);
        position: relative;
        font-size: 30px;
        top:-100px;
        left:-300px;
     }
     .ft-2 ul{
        list-style: none;
        padding-left: 0;
        color: white;     
        
     }
     .ft-2 ul li{
        padding: 0.35rem 0;
        font-weight: 400;
        position: relative;
        top:-250px; 
        color: black;  
        left:-290px;     
        
     }
     .ft-2 ul a{
      position: relative;
        text-decoration: none;
        color: black;
        font-size: 1.06rem ;
        top:150px;
    
     }
     .Footer h4{
        color:  rgb(15, 22, 76);
        position: relative;
        font-size: 30px;
        top:-290px;
        left:400px;

     }
     .ft-3  p{
        color: black;     
        font-weight: 500;
        padding-right: 0.1rem 0;
        font-size: 1.06rem ;
        position: relative;
        left:400px;
        top:-260px;
    
     }
     .ft-3 i{
      
        padding-right: 0.9rem;
    
     }
     .Last-footer {
        background: rgba(6, 63, 78, 0.825);
        text-align: center;
        padding: 1rem 0;
        position: absolute;
        top:260px
        
     }
     .Last-footer p{
        margin-bottom: 0;
        font-size: 1.2rem;
        font-family: 'Gotham';
        font-weight: 700;
        color: black;
        width: 1500px;
        height: 100px;
     }
     .Last-footer p{
      font-family: 'Gotham';
        font-weight: 700;

     }
   
    .copy{
          position: absolute;
          top:330px;
          left:670px;
          
          font-family: 'Times New Roman', Times, serif;
          color:rgb(196, 187, 187);
     }
     .reserved{
      position: absolute;
      top:360px;
      left:570px;
      font-family: 'Gotham';
      font-weight: 700;
      color:rgb(196, 187, 187);
 }